.activeCard{
  width: 50%;
}

.deck{
  overflow-y: scroll;
  height: 80%;
  background-color: rgb(49, 49, 49);
  padding: 2%;
  color: azure;
}

.cardAdd{
  display: flex;
  flex-direction: column;
}

.LoginContainer{
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 80%;
  height: 60%;
  justify-content: space-around;
}

.LoginForm{
  width: 50%;
  font-size: xx-large;
}


.CardOuter{
  background-color: #feffda;
  width: 100vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:xx-large;
  color: black;
}

.reFlash{
  display: flex;
  justify-content:space-around;
  align-items:center;
  flex-direction: row;
  background-color: #b6c8ff;
  width: 100%;
  overflow-y: hidden;
}

.App{
  background-color: #b6c8ff;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}


.deckCard{
  background-color: #feffda;
  width: 70vh;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:large;
  border-color: black;
  border-style:double;
  color: black;
}